.App{
  background: linear-gradient(to right,pink,white, pink) !important;
  width: 100%;
}
.header{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header-image{
  margin-right: 300px;
}
.header-actions{
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 20px;
  color: purple;
}
.header-actions > span:hover { 
    cursor: pointer;
}

.sidebar{
  transform:translateX(100rem);
  margin-left:  10px;
}

.searchbar{
  margin-left: 100px;
  border-radius:30px;
}
.search_input{
  color:purple;
  border: 0;
  outline: 0;
  background: white;
  width: 0;
  caret-color:purple;
  width: 300px;
  padding-right: 10px;
  border-radius: 10px ;
}
.search_icon{
  margin-left: 10px;
}
.search_icon:hover{

  color: purple;
  cursor: pointer;
}

.slide{
  justify-content: center;
  background: linear-gradient(to right, lightcoral,white,lightcoral) !important;
}
.slide-1{
  margin-left: 100px;
  padding: 10px;
  z-index: 2;
}
.slide-2{
  margin-left: 30px;
  margin-top:40px;
  padding: 10px;
  z-index: 2;
}
.fundoslide{
  z-index: 1;
  background-color: #deb887;
}
img{
  max-width: 100%;
  height: auto;
  border: 1 solid pink;
  
}
.filtro{
  list-style-type: none;
  margin: 0;
}
.filtro > li {
  color: purple;
  margin: 0;
  align-items: center;
}

.roupas{
  background: none;
  list-style-type: none;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.card{
  border-color:transparent;
}
.card-footer{
  background:transparent;
  border-top:transparent;
  transition:all 1s linear;
}
.card:hover{
    border:0.04rem solid rgba(0,0,0,0.2);
    box-shadow:2px 2px 5px 0px rgba(0,0,0,0.2)
}
.card-footer:hover{
    background:rgba(247,247,247);
}

.img-container{
  position:relative;
  overflow: hidden;
}
.card-img-top{
  transition:all 1s linear;
}
.img-container:hover .card-img-top{
  transform:scale(1.2);
}
.cart-btn{
  position: absolute;
  bottom:0;
  right:0;
  padding: 0.2rem 0.4rem;
  background:#eadbea;
  border:1px solid #c8a2c8;
  color:purple;
  font-size:1.2rem;
  border-radius: 5px 0 0 0;
  transform: translate(100%,100%);
  transition:all 0.5s linear;
}
.img-container:hover .cart-btn{
  transform: translate(0, 0);
}
.cart-btn:hover{
  color:pink;
  cursor:pointer;
}
.icone:hover{
  cursor: pointer;
}
.tamanho{
  list-style-type: none;
}
.preco{
  margin-top: 10px;
}
.btnCart{
  background: #eadbea;
  color: purple;
  border: 1px solid pink;
  width: 100%;  
}
.btnCart:hover{
  color:pink;  
}
.cor{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cor > div{
  margin: 5px;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.cor > div:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px #888888;
}
.btnSlider{
  position: absolute;
  right:10px;
  bottom: 20px;
  width: 250px;
  height: 250px;
  opacity: 0.7;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  
}
.btnSlider > .comprar{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  opacity: .8;
  margin-bottom: -50px;
  color: black;
}
.btnSlider > .comprar:hover{
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 1;
  color: white;
}

.apelido{
  width: 120px;
  height: 40px;
  margin-left: 100px;
  margin-bottom: 10px;
  font-family: "Cookie";
  opacity:1;
}

#fotos{
  overflow-x: hidden;
  white-space: nowrap;
}
#fotos ul li{
  margin-right:4px;
  cursor: pointer;
 
  background:#CCC;
  border:1px solid #555;
  display: inline-block;
}
.novidade{
  background: none;
  list-style-type: none;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: linear-gradient(to right, lightcoral,white,lightcoral) !important;
}
.title-novidade{
  position: absolute;
  top:0px;
  left: 0px;
  background-color:#afeeee;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 10px;
  color: purple;
  opacity: 0.8;
}
.promo{
  background: none;
  list-style-type: none;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: linear-gradient(to right, lightcoral,white,lightcoral) !important;
}
.title-promo{
  position: absolute;
  top:0px;
  left: 0px;
  background-color:#f08080;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
}
.details{
  background: white;
}
.details > ul{
  list-style-type: none;
}
.details > ul li{
  color: purple;
  font-size: 20px;
  padding: 15px;
}
.details > button{
  width: 100%;
  background: lightcoral;
  font-size: 20px;
  color:white !important;
}